<% for(var i = 0; i < groups.length; i++) { %>

	<div id="group<%= i + 1%>" class="animate js-animate">
		<h2>Group <%= i + 1%></h2>
		<% groups[i].forEach(function (value) {%>
			<p><%= value %></p>
		<% }); %>
	</div>
<% }; %>