

body {
    font-family: helvetica;
}

#container {
    padding: 0 20px;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#group-container {
    border-top: 2px solid gray;
    margin-top: 20px;
}

.hidden {
  display: none;
}

.animate {
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: top;
  display: inline-block;
}
